@charset "utf-8";

html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

}

body {
  height: 100%;
  margin: 0;
  padding: 0;

}

/* header */
header {
  font-size: 20px;
  padding-left: 10%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #fff;
  position: relative;
}

.validate {
  font-size: 14px;
  font-weight: 100;
  padding-left: 55px;
}

.Category-validate {
  font-size: 14px;
  font-weight: 100;
  padding-top: 13px;
}

#clear,
.login-form,
.New-login-form {
  text-align: left;
  padding-top: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.login-form h2 {
  padding-bottom: 50px;
}



.d-post-area {
  padding-left: 10%;
  position: relative;
}

.d-View {
  position: absolute;
  left: 68%;
}


.d-user-name {}

.d-day-time,
.comment-day-time {
  padding-left: 40px;
}

.d-post-title {
  font-size: 20px;
  padding-top: 15px;
}

.d-user-post {
  position: absolute;
  top: 70px;
  left: 10%;
}

.up_Sub-category {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  background-color: #4A86E8;
}

.d-Sub-category {
  position: absolute;
  top: 50px;
  color: #fff;
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;

  text-align: center;
  background-color: #4A86E8;
}

.Favorite-heart {
  position: absolute;
  top: 110px;
  left: 72%;
  font-size: 18px;
}



.Coment-Favorite-heart {


  /*border-bottom: solid 1px #555555;*/
}

.up-commentArea {
  margin-top: 30px;
  width: 900px;
  border-bottom: solid 1px #555555;
}

.ComenntCount {
  position: absolute;
  top: 110px;
  left: 55%;
}

.d-edit-btn a {
  color: #fff;
  font-size: 16px;
  /*position: relative;*/
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #CC4126;
}

.CommentEdit-btn a {
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #CC4126;
}

.d-edit-btn {
  position: absolute;
  padding-top: 30px;
  left: 68%;
  top: 18%;
}

.CommentEdit-btn {
  position: absolute;

  left: 68%;

}

.commentArea {
  padding-left: 10%;
  padding-bottom: 30px;
  margin-top: 10%;

  width: 700px;
}

.up-commentArea {
  padding: 30px 0px 30px 0px;
}

.comment {
  padding-top: 30px;
}

.Comment-Favorite-heart {
  position: absolute;
  left: 72%;
  font-size: 18px;
}

#comment,
.comment-form {
  margin-left: 10%;
  width: 65%;
  resize: none;
  outline: none;
  width: 65%;
  height: 75%;
  margin-top: 20px;
  border-radius: 2px;
  background: #fff;
}

.comment-formArea li {
  padding-left: 10%;
}

.comment-Form-button {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 10px 20px;
  margin-left: 68%;
  margin-top: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}


.label-e-mail,
.label-password,
.label-user-name {
  text-align: left;
  padding-top: 30px;
  padding-left: 30%;
}

.mail,
.password,
.username,
.password-confirmation {
  left: 0;
  top: 0;
  outline: none;
  /*検索ボックスの高さ*/
  height: 40px;
  /*検索ボックスの長さ*/
  width: 40%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 2px;
  /*検索ボックスの角を丸める*/
  background: #eee;
  /*検索ボックスの背景カラー*/
}


.btn-login a {
  color: #fff;
}

.Form-button,
.btn-login {
  color: #fff;
  font-size: 16px;
  left: 17%;
  display: inline-block;
  padding: 10px 20px;
  margin: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}


.top {
  display: flex;
  width: 100%;
}



.box {
  /*position: relative;*/
  font-size: 16px;
  padding: 20px;
  margin: 15px 150px;
  border: solid 2px #a9a9a9;
}




.CategoryForm {
  width: 80%;
  display: inline-block;
  position: absolute;
  font-size: 16px;
  padding: 15px 20px 15px 150px;
}


.CategoryForm button {
  text-align: center;
}


.box a {
  margin: auto;

}

.post-title {
  font-size: 20px;
  padding: 20px 0px 20px;
}

.up_ComenntCount {
  padding-left: 30px;
}

.Favorite,
.Favorited {
  padding-left: 30px;
}

#top-category-list {
  position: absolute;
  top: 450px;
  left: 60%;
  margin: 15px;
  list-style: none;
}

.up_main_category {
  font-size: 17px;
  padding-top: 30px;
}


#side-menu,
#category-list {
  position: absolute;
  left: 60%;
  margin: 15px;
  list-style: none;
}




.logout {
  position: absolute;
  left: 50%;
  padding: 0px;
  background: #fff;
  list-style: none;
}

.edit-btn a {
  position: absolute;
  right: 10%;
  padding: 0;
  background: #fff;
  list-style: none;
}

.logout,
.up-post a {
  color: #fff;
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: center;
  background-color: #4A86E8;
}


.category-btn,
.btn-danger,
.sub-r-btn,
.main-r-button {
  color: #fff;
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #CC4126;
  border: 0;
}

.main {
  padding: 20px 0px 10px 0px;
}

.Sub {
  padding: 0px 10px;
}

.btn-danger {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #CC4126;
  border: 0;
}

.Form-button {
  color: #fff;
  font-size: 20px;
  position: relative;
  display: inline-block;

  padding: 10px 15px;
  margin-bottom: 25px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}


.SForm-button {
  color: #fff;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}

.myFavorite-button,
.myPost-button {
  color: #fff;
  font-size: 20px;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 25px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}

.category-btn a,
.logout a,
.up-post a {
  color: #fff;

}

.PostForm-group {
  text-align: center;
}


.SubForm-label {
  text-align: left;
  padding-right: 70%;
}

.SubForm-label,
.label-title,
.label-PostForm {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 25%;
  padding-top: 50px;
}



.SubForm-select {
  left: 0;
  top: 0;
  outline: none;
  /*検索ボックスの高さ*/
  height: 40px;
  /*検索ボックスの長さ*/
  width: 52%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin: 20px 0px;
  border-width: 2px;
  background: #eee;
  /*検索ボックスの背景カラー*/
  -webkit-appearance: none;
}


.PostForm-control,
.CommentForm-control {
  resize: none;
  outline: none;
  width: 52%;
  height: 250px;
  margin-top: 20px;
  border-width: 2px;
  background: #eee;
}


.edit-Post {
  padding-left: 10%;
  width: 42.5%;
}



.editForm-control {
  resize: none;
  outline: none;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  border-width: 2px;
  background: #eee;
}

.CommentForm-control {
  resize: none;
  outline: none;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  border-width: 2px;
  background: #eee;
}

.title {
  left: 0;
  top: 0;
  outline: none;
  /*検索ボックスの高さ*/
  height: 40px;
  /*検索ボックスの長さ*/
  width: 50%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin-top: 20px;
  border-style: solid;
  background: #eee;
  /*検索ボックスの背景カラー*/
}





.edit-title {
  left: 0;
  top: 0;
  outline: none;
  height: 40px;
  width: 97%;
  padding: 0 10px;
  margin: 20px 0px;
  border-width: 2px;
  background: #eee;
  border-style: solid;
}

.newMain_categoryForm,
.form-control {
  left: 0;
  top: 0;
  outline: none;
  height: 40px;
  width: 40%;
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 2px;
  background: #eee;
}


.editForm-select {
  left: 0;
  top: 0;
  outline: none;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin: 20px 0px;
  border-width: 2px;
  background: #eee;
  -webkit-appearance: none;
}

.form-select {
  left: 0;
  top: 0;
  outline: none;
  height: 40px;
  width: 42.5%;
  padding: 0 10px;
  margin: 20px 0px;
  border-width: 2px;
  background: #eee;
  -webkit-appearance: none;

}



/*.select-container::before {
  border-bottom: 4.5px solid red;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: "";

  right: 9px;
  top: 10px;
  width: 0;
}*/

.select-container::after {
  content: "▼";
  margin-left: -30px;
  right: 9px;

}

.main-r-button,
.sub-r-btn {
  font-size: 16px;
  height: 40px;
  width: 42.5%;
  padding: 0 10px;
  margin: 20px 0px;
  border-radius: 2px;
}


#top-category-list h1,
#category-list h1,
.form-label,
.main-category {

  font-size: 20px;
  font-weight: bold;
}

#category-list h2 {
  font-size: 20px;
  font-weight: normal;
}




.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 10px solid #555555;
  border-bottom: 0;
}




.form-ctl {
  left: 0;
  top: 0;
  outline: 0;
  /*クリック時の青い枠線消す*/
  /*検索ボックスの高さ*/
  padding: 10px 5px 10px 5px;
  margin: 0 10px 10px 10px;
  /*テキスト位置調整*/
  border-radius: 2px;
  /*検索ボックスの角を丸める*/
  background: #eee;
  /*検索ボックスの背景カラー*/
}

.Form input {
  border: 2px solid #b84c00;
}


.btn-button-close {
  color: #fff;
  font-size: 16px;
  position: relative;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin: 20px 0px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #CC4126;
  border: 0;
}

.Post-BtnDanger {
  margin-bottom: 50px;
}

.Post-BtnDanger,
.Post-btn-danger,
.Comment-danger-btn,
.Comment-btn-danger {
  color: #fff;
  font-size: 16px;
  position: relative;
  padding: 11.5px 0px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #CC4126;
  border: 0;
}







.acd-check {
  display: none;
}

.acd-label {
  width: 300px;
  background: #fff;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
}



/* クリック時に表示されるテキスト */
.acd-content {
  width: 300px;
  margin-bottom: 10px;
  /*通常時は見えなくする*/
  overflow: hidden;
  /*  通常時は高さ0を指定  */
  height: 0;


}

.acd-categories {
  border-bottom: solid 2px;
  margin-bottom: 5px;

}



.acd-categories p:hover {
  color: #fff;
  background: #333;
}

.acd-check:checked+.acd-label+.acd-content {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s;
}
