@charset "utf-8";

html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

}

body {
  height: 100%;
  margin: 0;
  padding: 0;

}

/* header */
header {
  font-size: 20px;
  padding: 30px;
  background: #2f4f4f;
  position: relative;
}



.category-list {

  display: flex;
  flex-direction: column;

}

.main-post {
  display: flex;

  font-size: 16px;

}


.box {

  font-size: 16px;
  padding: 15px 0px 15px 10px;
  margin: 15px 10px 0px 10px;
  border: solid 2px #a9a9a9;
}

#side-menu {
  flex: 40%;
}




.acd-check {
  display: none;
}

.acd-label {
  width: 300px;
  background: #333;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
}

/* クリック時に表示されるテキスト */
.acd-content {
  width: 300px;
  margin-bottom: 10px;
  /*通常時は見えなくする*/
  overflow: hidden;
  /*  通常時は高さ0を指定  */
  height: 0;


}

.acd-categories {
  border-bottom: solid 2px;
  margin-bottom: 5px;

}




.acd-categories p:hover {
  color: #fff;
  background: #333;
}

.acd-check:checked+.acd-label+.acd-content {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s;
}
