@charset "utf-8";

html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

}

body {
  height: 100%;
  margin: 0;
  padding: 0;

}

/* header */
header {
  font-size: 20px;
  padding-left: 15%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #fff;
  position: relative;
}


#clear,
.login-form,
.New-login-form {
  text-align: left;
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.login-form h2 {
  padding-bottom: 50px;
}

.label-e-mail,
.label-password,
.label-user-name {
  text-align: left;
  padding-top: 30px;
  padding-left: 30%;
}

.mail,
.password,
.username,
.password-confirmation {
  left: 0;
  top: 0;
  outline: none;
  /*検索ボックスの高さ*/
  height: 40px;
  /*検索ボックスの長さ*/
  width: 40%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 2px;
  /*検索ボックスの角を丸める*/
  background: #eee;
  /*検索ボックスの背景カラー*/
}


.btn-login a {
  color: #fff;
}

.Form-button,
.btn-login {
  color: #fff;
  font-size: 16px;
  left: 17%;
  display: inline-block;
  padding: 10px 20px;
  margin: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}


.top {
  display: flex;
  width: 100%;
}



.box {
  /*position: relative;*/
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  margin: 15px 150px;
  border: solid 2px #a9a9a9;
}

.CategoryForm {
  width: 80%;
  display: inline-block;
  position: absolute;
  font-size: 16px;
  padding: 15px 20px 15px 60px;
}


.CategoryForm button {
  text-align: center;
}


.box a {
  margin: auto;
}

.post-title {
  padding: 20px 0px 20px;
}


#top-category-list {
  position: absolute;
  top: 75%;
  left: 60%;
  margin: 15px;
  list-style: none;
}

#side-menu,
#category-list {
  position: absolute;
  left: 60%;
  margin: 15px;
  list-style: none;
}




.logout {
  position: absolute;
  left: 50%;
  padding: 0px;
  background: #fff;
  list-style: none;
}

.edit-btn a {
  position: absolute;
  right: 10%;
  padding: 0;
  background: #fff;
  list-style: none;
}

.logout,
.up-post a {
  color: #fff;
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;

  text-align: center;
  background-color: #4A86E8;

}

.category-btn,
.btn-danger,
.sub-r-btn,
.main-r-button {
  color: #fff;
  font-size: 16px;
  position: relative;
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #CC4126;
}

.Form-button {
  color: #fff;
  font-size: 20px;
  position: relative;
  display: inline-block;

  padding: 10px 15px;
  margin-bottom: 25px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}

.SForm-button {
  color: #fff;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}

.myFavorite-button,
.myPost-button {
  color: #fff;
  font-size: 20px;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 25px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: #4A86E8;
  border: 0px none;
}

.category-btn a,
.logout a,
.up-post a {
  color: #fff;

}

.PostForm-group {
  text-align: center;
}


.SubForm-label {
  text-align: left;
  padding-right: 70%;
}

.SubForm-label,
.label-title,
.label-PostForm {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 25%;
  padding-top: 50px;
}



.SubForm-select {
  left: 0;
  top: 0;
  outline: none;
  /*検索ボックスの高さ*/
  height: 40px;
  /*検索ボックスの長さ*/
  width: 52%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin: 20px 0px;
  border-radius: 2px;
  /*検索ボックスの角を丸める*/
  background: #eee;
  /*検索ボックスの背景カラー*/
}

.PostForm-control {
  resize: none;
  outline: none;
  width: 52%;
  height: 250px;
  margin-top: 20px;
  border-radius: 2px;
  background: #eee;
}

.title {
  left: 0;
  top: 0;
  outline: none;
  /*検索ボックスの高さ*/
  height: 40px;
  /*検索ボックスの長さ*/
  width: 50%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 2px;
  /*検索ボックスの角を丸める*/
  background: #eee;
  /*検索ボックスの背景カラー*/
}

.newMain_categoryForm,
.form-control {
  left: 0;
  top: 0;
  outline: none;
  /*検索ボックスの高さ*/
  height: 40px;
  /*検索ボックスの長さ*/
  width: 40%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 2px;
  /*検索ボックスの角を丸める*/
  background: #eee;
  /*検索ボックスの背景カラー*/

}

.form-select {
  left: 0;
  top: 0;
  outline: none;
  /*検索ボックスの高さ*/
  height: 40px;
  /*検索ボックスの長さ*/
  width: 42.5%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin: 20px 0px;
  border-radius: 2px;
  /*検索ボックスの角を丸める*/
  background: #eee;
  /*検索ボックスの背景カラー*/
}

.main-r-button,
.sub-r-btn {
  font-size: 16px;
  height: 40px;
  /*検索ボックスの長さ*/
  width: 42.5%;
  /*テキスト位置調整*/
  padding: 0 10px;
  margin: 20px 0px;
  border-radius: 2px;
}



#top-category-list h1,
#category-list h1,
.form-label,
.main-category {

  font-size: 20px;
  font-weight: bold;
}

#category-list h2 {
  font-size: 20px;
  font-weight: normal;
}

/*.form-select::after {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 10px;
  content: "\f0d7";

  font-family: "fa-solid fa-caret-down";

}*/


.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 10px solid #555555;
  border-bottom: 0;
}




.form-ctl {
  left: 0;
  top: 0;
  outline: 0;
  /*クリック時の青い枠線消す*/
  /*検索ボックスの高さ*/
  padding: 10px 5px 10px 5px;
  margin: 0 10px 10px 10px;
  /*テキスト位置調整*/
  border-radius: 2px;
  /*検索ボックスの角を丸める*/
  background: #eee;
  /*検索ボックスの背景カラー*/
}

.Form input {
  border: 2px solid #b84c00;
}


.acd-check {
  display: none;
}

.acd-label {
  width: 300px;
  background: #fff;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
}

/* クリック時に表示されるテキスト */
.acd-content {
  width: 300px;
  margin-bottom: 10px;
  /*通常時は見えなくする*/
  overflow: hidden;
  /*  通常時は高さ0を指定  */
  height: 0;


}

.acd-categories {
  border-bottom: solid 2px;
  margin-bottom: 5px;

}




.acd-categories p:hover {
  color: #fff;
  background: #333;
}

.acd-check:checked+.acd-label+.acd-content {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s;
}
